
header {
    background-color: #393f47;
    text-align: middle;
    display: grid;
    text-align: center;
}
body{
       max-width: 100%;
       margin: auto;
}
p#tel{
    background-color: rgb(46, 51, 58);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 5px;
    margin-right: 3px;
    font-family:'Times New Roman';
 }

.Slogan{
    background-image: url(../img/fon.jpg);
    margin-left: -6px;
    margin-right: -25px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
}
.menu a:hover{
    font-weight: bold;
}
.menu a{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    white-space: 70px;
} 
@media (min-width: 375px){
    header nav{
        display: flex;
    }
    header nav .menu{
        display: flex;
        flex:1;
        justify-content: space-around;
        align-items: center;
    }
}
 .Company{
    color: #fff;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    font-family:'Times New Roman';
}
