
p#tel{
    background-color: rgb(46, 51, 58);
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    margin-left: 9px;
    margin-right: 3px;
    box-sizing: border-box;
    font-family:'Times New Roman';

}
.Company{
    color: #fff;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    font-family:'Times New Roman';
}
header{
    background-color: #393f47;
    margin: -16px;
    box-sizing: border-box;
    width: 115%;
}
.Slogan {
    background-image: url(../img/fon.jpg) ;
    background-size:cover;
    background-position:center;
    min-height:600px;
    margin-left: -8px;
    margin-right: -25px;
    vertical-align:10px;
    text-align: left;

}