p#tel{
     background-color: #000000;
      display: flex;
      color: #fff;
}

/*p#tel{
        background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}*/
.banner{

}